# Environment variables (Database credentials)
.env
*.env

# Dependencies
node_modules/
frontend/node_modules/

# Python Cache & Virtual Environments
__pycache__/
*.pyc
venv/
env/

# Build files
dist/
build/